{% extends "base.html" %}
{% block content %}
<article class="page">
  {{ section.content | safe }}

  {% set blog = get_section(path="blog/_index.md") %}
  {% if blog.pages %}
  <h2>Recent posts</h2>
  <ul class="post-list">
    {% for page in blog.pages | slice(end=5) %}
    <li>
      <time datetime="{{ page.date }}">{{ page.date | date(format='%Y-%m-%d') }}</time>
      <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</article>
{% endblock %}
